/*This page is for colors and fonts*/
body{
	background-color: #ABABAB;
}
footer{
	background-color: #000000;
    color: white;
}
#midSect{
	background-color: #2D2D2D;
}
h1{
	color: #6B5CA5;
	font-family: Impact, Charcoal, sans-serif;
}
h2{
	color: #2D2D2D;
	font-family: Impact, Charcoal, sans-serif;
}
h3{
	color: #ED7D3A;
	font-family: Impact, Charcoal, sans-serif;
}
h4{
	color:#2D2D2D;
	font-family: Verdana, Geneva, sans-serif;
}
p{
	color: #ffffff;
	font-family: Verdana, Geneva, sans-serif;
}
dd{
	color: #2D2D2D;
}
dt{
	color: #ffffff;
}
#homepage{
	background-color: #ED7D3A;
}
.navbar{
	background-color: #000000;
}
#aboutmehead{
	background-color: #6B5CA5;
	color: #2D2D2D;
}
#aboutmetext{
	background-color: #ED7D3A;
}
#me{
	border-color: #2D2D2D;
}
button{
	background-color: #6B5CA5;
	color: #ffffff;
	font-family: Verdana, Geneva, sans-serif;
}
.navbar-brand{
	font-family: Verdana, Geneva, sans-serif;
}