/* This page is for formating*/ 
   html,body{
	   height:100%
   }
   .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    footer {
      padding: 15px;
	  height: 60px;
    }
	button{
		margin:20px;
		
	}
	#main{
		min-height: 100%;
        height: auto;
		margin-top: 100px;
	}
	#carousel{
		margin-bottom: 20px;
	}
	#midSect{
		height: 100%;
		padding: 40px;
	}

	#aboutmehead{
		font-size: 70px;
		text-align: left;
	}
	#me{
		border: 10px solid;
		margin-left: 30px;
	}
#aboutmetext{
	padding: 20px;
}	
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  .navTrans{
	  transition: 0s;
	  opacity: 0.5;
	  font-weight: bold;
  }